git+https://github.com/jhj0517/jhj0517-whisper.git
faster-whisper==1.0.3
transformers==4.42.3
gradio==4.43.0
pytubefix
ruamel.yaml==0.18.6
pyannote.audio==3.3.1
git+https://github.com/jhj0517/ultimatevocalremover_api.git
git+https://github.com/jhj0517/pyrubberband.git